<div id="exerciseDetails-template">
	<script>
	  	$('#editExerciseButton').click(function(){
			$('#editExercisePopup').removeClass("hidden");
		});
	</script>
	<span class="meta">{{name}}: ({{setCount}}x{{repCount}}) using {{weight}} pounds</span>
	<button id="editExerciseButton" type="button">Edit</button>
	<button type="button" onclick="alert('Delete Exercise!')">Delete</button>
	<div id="editExercisePopup" class="hidden">
		<form id="editExerciseForm">
			Exercise Name: <input type="text" value={{name}} name="exName"><br>
			Sets: <input type="text" value={{setCount}} name="sets"><br>
			Reps: <input type="text" value={{repCount}} name="reps"><br>
			Weight: <input type="text" value={{weight}} name="weight">
			<input type="button" value="Submit">
		</form>
	</div>
</div>