
<div id="addWorkout-template">	
	<button id="addWorkoutButton" type="button">Add Workout</button>
	<div id="addWorkoutPopup" class="hidden">
		<form id="addWorkoutForm">
			Date: <input type="date" name="date" required><br>
			<input type="submit" />
		</form>
	</div>
</div>
<!--
<div id="workoutDetails-template">
	
	<span class="meta">Workout ({{date}})</span>
	<button id="editWorkoutButton" type="button">Edit</button>
	<button type="button" onclick="alert('Delete Workout!')">Delete</button>
	<div id="editWorkoutPopup" class="hidden">
		<form id="editWorkoutForm">
			Date: <input type="text" value={{[date]}} name="date">
			<input type="submit" />
		</form>
	</div>
</div>

<div id="addExercise-template">
	
	<button id="addExerciseButton" type="button">Add Exercise</button>
	<div id="addExercisePopup" class="hidden">

		<form id="addExerciseForm" method="post">
			Exercise Name: <input type="text" name="exerciseName"><br>
			Sets: <input type="text" name="setCount"><br>
			Reps: <input type="text" name="repCount"><br>
			Weight: <input type="text" name="weight">
			<input type="hidden" name="workoutID" id="{{workout._id}}" />
			<input type="submit" />
		</form>
	</div>
</div>

<div id="exerciseDetails-template">

	<span class="meta">{{name}}: ({{setCount}}x{{repCount}}) using {{weight}} pounds</span>
	<button id="editExerciseButton" type="button">Edit</button>
	<button type="button" onclick="alert('Delete Exercise!')">Delete</button>
	<div id="editExercisePopup" class="hidden">
		<form id="editExerciseForm">
			Exercise Name: <input type="text" value={{name}} name="exName"><br>
			Sets: <input type="text" value={{setCount}} name="sets"><br>
			Reps: <input type="text" value={{repCount}} name="reps"><br>
			Weight: <input type="text" value={{weight}} name="weight">
			<input type="button" value="Submit">
		</form>
	</div>
</div> -->
<div id="logoutdiv">
	<button id="logoutButton">Logout</button>
</div>


{{#each workout}}
	<div>
		<div>
			<span class="meta">Workout ({{{trimString date}}})</span>
			<button class="editWorkout" id="editWorkoutButton" type="button">Edit</button>
			<button type="button" id="deletebutton" value={{_id}} >Delete</button>
			<div class ="editWorkoutPopup hidden">
				<form class="editWorkoutForm">
					Date: <input type="date" value={{{trimString date}}} name="date">
					<input class="hidden" value={{_id}} name ="workoutID"> 
					<input type="submit"/>
				</form>
			</div></br>
			<div>
				<div class="addExercise">
					<button class="addExerciseButton" type="button">Add Exercise</button>
					<div class="addExercisePopup hidden">
						<form class="addExerciseForm">
							Exercise Name: <input type="text" name="name" required><br>
							Sets: <input type="text" name="setCount" required><br>
							Reps: <input type="text" name="repCount" required><br>
							Weight: <input type="text" name="weight" required>
							<input class="hidden" value={{_id}} name="workoutID">
							<input type="submit" />
						</form>
					</div>
				</div>
			</div>
			{{#each exercises}}
				<div>
					<span class="meta">{{name}}: ({{setCount}}x{{repCount}}) using {{weight}} pounds</span>
					<button class="editExerciseButton" type="button">Edit</button>
					<button type="button" onclick="alert('Delete Exercise!')">Delete</button>
					<div class="editExercisePopup hidden">
						<form id="editExerciseForm">
							Exercise Name: <input type="text" value={{name}} name="name"><br>
							Sets: <input type="text" value={{setCount}} name="setCount"><br>
							Reps: <input type="text" value={{repCount}} name="repCount"><br>
							Weight: <input type="text" value={{weight}} name="weight">
							<input type="button" value="Submit">
						</form>
					</div>
					<br>
				</div>				
			{{/each}}


		</div>
	<div>
{{/each}}




